@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
    font-family: 'Work Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #657c66;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.half-page {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.half-page:hover {
    transform: scale(1.02);
    filter: brightness(1.1);
}

.left {
    background: url('sender.jpg') no-repeat center center;
    background-size: cover;
}

.right {
    background: url('receiver.jpg') no-repeat center center;
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(231, 231, 231, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #657c66;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
    flex-direction: column;
}
.overlay p {
    font-size: 16px; /* Ajuste o tamanho conforme necessário */
    margin-top: 10px; /* Espaçamento entre o span e o parágrafo */
}
.half-page:hover .overlay {
    background-color: rgba(209, 209, 209, 0.8);
}
