@model UserReceiverViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Cadastro de Usuario Receiver</h2>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>

<!-- MASCARA CEP
<script>
    $(document).ready(function() {
      $('#postal_code').on('input', function() {
        var cep = $(this).val();
        // Remover todos os caracteres que não são números
        cep = cep.replace(/\D/g, '');
        // Adicionar a máscara
        cep = cep.replace(/^(\d{5})(\d{3}).*/, '$1-$2');
        $(this).val(cep);
      });
    });
</script>-->
<!-- MASCARA CNPJ-->
<script>
    $(document).ready(function() {
        $('#cnpj').on('input', function() {
            var cnpj = $(this).val();
            // Remover todos os caracteres que não são números
            cnpj = cnpj.replace(/\D/g, '');
            // Adicionar a máscara
            cnpj = cnpj.replace(/^(\d{2})(\d{3})(\d{3})(\d{4})(\d{2}).*/, '$1.$2.$3/$4-$5');
            $(this).val(cnpj);
        });
    });
</script>
<!-- MASCARA TELEFONE-->
<script>
    $(document).ready(function() {
        $('#phone_number').on('input', function() {
            var phone = $(this).val();
            // Remover todos os caracteres que não são números
            phone = phone.replace(/\D/g, '');
            
            // Adicionar a máscara
            if (phone.length <= 10) {
                // Formato (XX) XXXX-XXXX
                phone = phone.replace(/^(\d{2})(\d{4})(\d{0,4}).*/, '($1) $2-$3');
            } else {
                // Formato (XX) XXXXX-XXXX
                phone = phone.replace(/^(\d{2})(\d{5})(\d{0,4}).*/, '($1) $2-$3');
            }
            
            $(this).val(phone);
        });
    });
</script>
<!-- ESTADOS BRASIL-->
<script>
        function adicionarEstados() {
            const estados = [
                "Acre", "Alagoas", "Amapá", "Amazonas", "Bahia", "Ceará", "Distrito Federal",
                "Espírito Santo", "Goiás", "Maranhão", "Mato Grosso", "Mato Grosso do Sul",
                "Minas Gerais", "Pará", "Paraíba", "Paraná", "Pernambuco", "Piauí", "Rio de Janeiro",
                "Rio Grande do Norte", "Rio Grande do Sul", "Rondônia", "Roraima", "Santa Catarina",
                "São Paulo", "Sergipe", "Tocantins"
            ];

            const select = document.getElementById('address_state');

            estados.forEach(estado => {
                const option = document.createElement('option');
                option.value = estado;
                option.text = estado;
                select.appendChild(option);
            });
        }

        // Chama a função para adicionar os estados quando a página é carregada
        window.onload = adicionarEstados;
</script>
<!-- PREENCHIMENTO CEP-->
<script>
    document.getElementById('postal_code').addEventListener('blur', function() {
        var cep = this.value.replace(/\D/g, '');
        if (cep !== "") {
            var validacep = /^[0-9]{8}$/;
            if(validacep.test(cep)) {
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                .then(response => response.json())
                .then(data => {
                    if (!("erro" in data)) {
                        document.getElementById('address_street').value = data.logradouro || "";
                        document.getElementById('address_district').value = data.bairro || "";
                        document.getElementById('address_city').value = data.localidade || "";
                        document.getElementById('address_state').value = data.uf || "";
                    } else {
                        alert("CEP não encontrado.");
                    }
                })
                .catch(error => {
                    console.error('Erro ao buscar o CEP:', error);
                    alert("Erro ao buscar o CEP.");
                });
            } else {
                alert("Formato de CEP inválido.");
            }
        }
    });
</script>
<script>
        function toLowerCase(input) {
            input.value = input.value.toLowerCase();
        }
    </script>
<div class="form-container">
    <form action="Save" method="post" class="form-group">
        <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
        <label for="Id" class="control-label">Id</label>
        @if (ViewBag.Operacao == "I" || ViewBag.Operacao == "A")
            {
                <input asp-for=id id="id" class="form-control" readonly/>
            }
        <span asp-validation-for="id" class="text-danger"></span>

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" oninput="toLowerCase(this)">
            <span asp-validation-for="username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="full_name">Nome Completo:</label>
            <input type="text" id="full_name" name="full_name">
            <span asp-validation-for="full_name" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label for="fantasy_name">Nome Fantasia:</label>
            <input type="text" id="fantasy_name" name="fantasy_name">
            <span asp-validation-for="fantasy_name" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label for="cnpj">CNPJ:</label>
            <input type="text" id="cnpj" name="cnpj" maxlength="18" pattern="\d{2}\.\d{3}\.\d{3}/\d{4}-\d{2}" placeholder="XX.XXX.XXX/0001-XX" title="Digite um CNPJ válido">
            <span asp-validation-for="cnpj" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="phone_number">Telefone (com DDD):</label>
            <input type="text" id="phone_number" name="phone_number" placeholder="(XX) XXXXX-XXXX ou (XX) XXXX-XXXX">
            <span asp-validation-for="phone_number" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" >
            <span asp-validation-for="email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="postal_code">CEP:</label>
            <input type="text" id="postal_code" name="postal_code" placeholder="XXXXX-XXX" maxlength="9" pattern="\d{5}-\d{3}" title="Digite um CEP válido">
            <span asp-validation-for="postal_code" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="address_street">Rua:</label>
            <input type="text" id="address_street" name="address_street">
            <span asp-validation-for="address_street" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="address_number">Número:</label>
            <input type="text" id="address_number" name="address_number">
            <span asp-validation-for="address_number" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="address_complement">Complemento:</label>
            <input type="text" id="address_complement" name="address_complement">
        </div>
        <div class="form-group">
            <label for="address_district">Bairro:</label>
            <input type="text" id="address_district" name="address_district">
            <span asp-validation-for="address_district" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label for="address_city">Cidade:</label>
            <input type="text" id="address_city" name="address_city">
            <span asp-validation-for="address_city" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="address_state">Estado (Sigla):</label>
            <input type="text" id="address_state" name="address_state">
            <span asp-validation-for="address_state" class="text-danger"></span>

        </div>
        
        <div class="form-group">
            <label for="created_time">Data Criação Perfil:</label>
            <input asp-for=created_date type="date" id="created_date" class="form-control" name="created_date" readonly>
        </div>
        <div class="form-group">
            <button type="submit">Enviar</button>
        </div>
    </form>
</div>