@model UserSenderLoginViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/login_user.css">
<link rel="stylesheet" href="~/css/hd_ft.css">
<header class="site-header">
    <div class="container">
        <nav>
            <a class="logo" href="#">
                <img src="~/css/logo_electronicrap.png" alt="Electronicrap Logo" style="height: 40px;">
            </a>
            <ul class="menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="PagCriaConta">Crie sua conta!</a></li>
                <li><a asp-area="" asp-controller="Login" asp-action="PagLogin">Entre</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="form-container">
    <form action="Save" method="post" class="form-group">
        <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
        
        <div class="form-group">
            <label for="username">Username:</label>
            <input asp-for="username" type="text" id="username" name="username" readonly>
        </div>
        <div class="form-group">
            <label for="password">Senha:</label>
            <input type="text" id="password" name="password" required>
        </div>
        
        <div class="form-group">
            <button type="submit">Enviar</button>
        </div>
    </form>
</div>
<footer class="site-footer">
    <div class="container">
        <p>&copy; 2024 ec8-electronicrap.azurewebsites.net. Todos os direitos reservados.</p>
        <a href="https://github.com/carlosbpiolla/PBL_Electronicap" target="_blank">
            <img src="~/css/logo_git.png" alt="GitHub">
        </a>
    </div>
</footer>