@model LoginViewModel
@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/pag_inicial.css">
<div class="container">
    <h2>Login efetuado - Receiver!</h2> 
    <a class="nav-link" href="/UserReceiver/Update?username=@Model.username">Edite seus dados</a>
    <a class="nav-link" href="/Recebimento/Inicio?username=@Model.username">Veja seus ultimos recebimentos</a>
</div>
