@model LoginViewModel

@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/pag_inicial.css">
<link rel="stylesheet" href="~/css/hd_ft.css">
<body>
<header class="site-header">
    <div>
        <nav>
            <a class="logo" href="#">
                <img src="~/css/logo_electronicrap.png" alt="Electronicrap Logo" style="height: 40px;">
            </a>
            <ul class="menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <h2>Login efetuado - Sender!</h2>
    <a class="nav-link text-dark" asp-area="" asp-controller="UserSender" asp-action="Inicio">Veja os recebedores na sua região</a>
    <a class="nav-link text-dark" href="/UserSender/Update?username=@Model.username">edite seus dados</a>
</div> 
<footer class="site-footer">
    <div >
        <p>&copy; 2024 ec8-electronicrap.azurewebsites.net. Todos os direitos reservados.</p>
        <a href="https://github.com/carlosbpiolla/PBL_Electronicap" target="_blank">
            <img src="~/css/logo_git.png" alt="GitHub">
        </a>
    </div>
</footer>
</body>