@model LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/hd_ft.css">
<link rel="stylesheet" href="~/css/pag_inicial.css">
</head>
<header class="site-header">
    <div>
        <nav>
            <a class="logo" href="#">
                <img src="~/css/logo_electronicrap.png" alt="Electronicrap Logo" style="height: 40px;">
            </a>
            <ul class="menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
<div class="container">
    <h2>Login efetuado - Receiver!</h2> 
    <a class="nav-link" href="/UserReceiver/Update?username=@Model.username">Edite seus dados</a>
    <a class="nav-link" href="/Recebimento/Inicio?username=@Model.username">Veja seus ultimos recebimentos</a>
</div>
</body>
<footer class="site-footer">
    <div>
        <p>&copy; 2024 ec8-electronicrap.azurewebsites.net. Todos os direitos reservados.</p>
        <a href="https://github.com/carlosbpiolla/PBL_Electronicrap" target="_blank">
            <img src="~/css/logo_git.png" alt="GitHub">
        </a>
    </div>
</footer>