@model LoginViewModel

@{
    Layout = "~/Views/Shared/_LayoutSender.cshtml";
}
<h2> login efetuado - Sender!</h2>
<a class="nav-link text-dark" asp-area="" asp-controller="UserSender" asp-action="Inicio">Veja os recebedores na sua região</a>
<a class="nav-link text-dark" href="/UserSender/Update?username=@Model.username">edite seus dados</a>
