@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LayoutReceiver.cshtml";
}
<h2> login efetuado - Receiver!</h2> 
<a class="nav-link text-dark" href="/UserReceiver/Update?username=@Model.username">edite seus dados</a>
<a class="nav-link text-dark" href="/Recebimento/Inicio?username=@Model.username">Veja seus ultimos recebimentos</a>