@model LoginViewModel
@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/hd_ft.css">

<link rel="stylesheet" href="~/css/pag_inicial.css">
<header class="site-header">
    <div class="container">
        <nav>
            <a class="logo" href="#">
                <img src="~/css/logo_electronicrap.png" alt="Electronicrap Logo" style="height: 40px;">
            </a>
            <ul class="menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="PagCriaConta">Crie sua conta!</a></li>
                <li><a asp-area="" asp-controller="Login" asp-action="PagLogin">Entre</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <h2>Login efetuado - Receiver!</h2> 
    <a class="nav-link" href="/UserReceiver/Update?username=@Model.username">Edite seus dados</a>
    <a class="nav-link" href="/Recebimento/Inicio?username=@Model.username">Veja seus ultimos recebimentos</a>
</div>
<footer class="site-footer">
    <div class="container">
        <p>&copy; 2024 ec8-electronicrap.azurewebsites.net. Todos os direitos reservados.</p>
        <a href="https://github.com/carlosbpiolla/PBL_Electronicap" target="_blank">
            <img src="~/css/logo_git.png" alt="GitHub">
        </a>
    </div>
</footer>