@model LoginViewModel

@{
    Layout = null;
}
<link rel="stylesheet" href="~/css/hd_ft.css">

<link rel="stylesheet" href="~/css/login.css">
<header class="site-header">
    <div class="container">
        <nav>
            <a class="logo" href="#">
                <img src="~/css/logo_electronicrap.png" alt="Electronicrap Logo" style="height: 40px;">
            </a>
            <ul class="menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="PagCriaConta">Crie sua conta!</a></li>
                <li><a asp-area="" asp-controller="Login" asp-action="PagLogin">Entre</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="form-container">
    <form action="Login" method="post" class="form-group">
        <h2>Login</h2>
            <label for="username">Usuário:</label>
            <input type="text" id="username" name="username" required>
            <span asp-validation-for="username" class="text-danger"></span>

            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            <span asp-validation-for="password" class="text-danger"></span>
            <br />
            
            <div class="radio-group">
                <label><input type="radio" id="userType" name="userType" value="sender" required> Sender</label>
                <label><input type="radio" id="userType" name="userType" value="receiver" required> Receiver</label>
            </div>
            
            <button type="submit">Entrar</button>
        </form>
</div> 
<footer class="site-footer">
    <div class="container">
        <p>&copy; 2024 ec8-electronicrap.azurewebsites.net. Todos os direitos reservados.</p>
        <a href="https://github.com/carlosbpiolla/PBL_Electronicap" target="_blank">
            <img src="~/css/logo_git.png" alt="GitHub">
        </a>
    </div>
</footer>