@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Home/cria_conta.css">
    <link rel="stylesheet" href="~/css/hd_ft.css">
</head>

<header class="site-header">
    <div >
        <nav>
            <a class="logo" href="#">
                <img src="~/css/logo_electronicrap.png" alt="Electronicrap Logo" style="height: 40px;">
            </a>
            <ul class="menu">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="PagCriaConta">Crie sua conta!</a></li>
                <li><a asp-area="" asp-controller="Login" asp-action="PagLogin">Entre</a></li>
            </ul>
        </nav>
    </div>
</header>
<body>
    
    <div class="container">
        <div class="half-page left" onclick="location.href='/UserSender/Create'">
            <div class="overlay">
                <span>Cadastre-se como Entregador</span>
                <br />
                <p> Entregadores são aqueles que farão o descarte do seu lixo eletrônico nos pontos denominados.</p>
            </div>
            
        </div>
        <div class="half-page right" onclick="location.href='/UserReceiver/Create'">
            <div class="overlay">
                <span>Cadastre-se como Recebedor</span> 
                <br />
                <p> Recebedores são aqueles que farão a coleta do lixo eletrônico em seus pontos pré-cadastrados.</p>
            </div>
        </div>
    </div>
    
<footer class="site-footer">
    <div >
        <p>&copy; 2024 ec8-electronicrap.azurewebsites.net. Todos os direitos reservados.</p>
        <a href="https://github.com/carlosbpiolla/PBL_Electronicrap" target="_blank">
            <img src="~/css/logo_git.png" alt="GitHub">
        </a>
    </div>
</footer>
</body>
</html>
