/* Estilo global */
body {
    background-color: #f3f7f0;
    color: #333;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Garante que os itens fiquem em coluna */
    min-height: 100vh;
}

/* Estilos do Header */
.site-header {
    background-color: #2b3f2c;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que o cabeçalho fique acima de outros conteúdos, se houver */
}

/* Estilos do Footer */
.site-footer {
    background-color: #2b3f2c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1000; /* Mesma razão do z-index para o rodapé */
}

.form-container {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    box-sizing: border-box;
    animation: fadeIn 0.5s ease-in-out;
    overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */
    margin-top: 120px; /* Ajusta o espaço abaixo do cabeçalho */
    margin-bottom: 120px; /* Ajusta o espaço acima do rodapé */
    text-align: center; /* Centraliza todo o conteúdo */
    display: flex;
    flex-direction: column;
    align-items: center; /* Garante que o conteúdo dentro do contêiner também seja centralizado */
}

/* Adiciona uma classe de contêiner para ajustes em telas pequenas */
@media (max-width: 600px) {
    .form-container {
        padding: 20px; /* Reduz o padding para telas pequenas */
        border-radius: 0; /* Remove o arredondamento da borda */
        box-shadow: none; /* Remove a sombra */
        overflow: auto; /* Adiciona barra de rolagem para conteúdo grande */
        margin-top: 100px; /* Ajusta o espaço abaixo do cabeçalho */
        margin-bottom: 100px; /* Ajusta o espaço acima do rodapé */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h2 {
    text-align: center;
    color: #2b3f2c;
    margin-bottom: 30px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%; /* Garante que os campos de entrada ocupem a largura total do contêiner */
}

label {
    margin-bottom: 8px;
    color: #324d34;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    font-size: 18px;
    width: 100%; /* Garantir que a largura seja 100% */
    box-sizing: border-box; /* Incluir padding e border no tamanho total */
}

    input[type="text"]:focus,
    input[type="email"]:focus,
    input[type="date"]:focus,
    select:focus {
        border-color: #2b3f2c;
        box-shadow: 0 0 5px rgba(43, 63, 44, 0.5);
        outline: none;
    }

input[type="submit"],
button {
    background-color: #2b3f2c; /* Verde */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 18px;
    align-self: center;
    margin-top: 20px;
    width: 100%; /* Ajuste para botões também */
}

    input[type="submit"]:hover,
    button:hover {
        background-color: #1e2e20; /* Verde mais escuro ao passar o mouse */
        transform: scale(1.05);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    }

    input[type="submit"]:active,
    button:active {
        transform: scale(1);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    }

.text-danger {
    color: red;
    font-size: 14px;
}

@media (max-width: 600px) {
    .form-container {
        padding: 20px;
    }

    input[type="text"],
    input[type="email"],
    input[type="date"],
    select {
        font-size: 16px;
    }

    input[type="submit"],
    button {
        font-size: 16px;
    }
}
